body {

    height: 100vh;
    overflow: hidden;

}

*{
    box-sizing: border-box;
    border: none
}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+Display:wght@600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Roboto&display=swap');